/* css reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #1C2D3B;
  height: 100vh;
}

button {
  width: 100px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
  margin: 5px;
  border: none;
  background-color: #c6d3e1;
}

img {
  width: 65%;
}

p {
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 10px;
}

span {
  font-size: 0.6rem;
}


.container {
  max-width: 50%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.container-h {
  max-width: 80%;
  margin: 0 auto;
}


header {
  height: 55px;
  background-color: #05131F;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: none;
}

.logo img {
  width: 30px;
}

.card {
  background-color: #102030;
  width: 200px;
  text-align: center;
  color: #ffffff;
  padding: 20px 7px;
  margin-bottom: 30px;
  cursor: pointer;
}












/* 
#discs-container, #disc-details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#disc-details-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.disc {
    flex-basis: calc(100% / 4);
    flex-grow: 0;
    margin: 30px;
    padding: 20px;
    border-radius: 6px;
    background: #112030;
    color: white;
    text-align: center;
    cursor: pointer;
}

.single-disc {
    flex-basis: 100%;
    flex-grow: 1;
    background: rgba(17, 32, 48, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.disc img {
    margin-bottom: 20px;
    max-width: 80%;
}

.disc strong, .disc small {
    display: block;
    margin: 10px 0;
}

.close-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    transform: translate(-100%, 100%);
    display: flex;
    justify-content: stretch;
}

.close-button {
    flex-grow: 1;
    background-color: transparent;
    border: 1px solid lightgray;
    color: white;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #707070;
    border: 1px solid darkgray;
} */